<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>whc</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
 <header>
  <div>
      <img src="/img/logo.jpeg" alt="Aquí va el logo">
  </div>
  <div>
    <h1>w.h. Correa & Asociados</h1>
    <h3>consultores contables e impositivos</h3>
</div>
 </header>
 <section>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, illum tenetur doloribus obcaecati nihil vero placeat dignissimos itaque laboriosam incidunt! Ab, ducimus autem eaque quidem numquam quasi. Sapiente, quos culpa.</p>
 </section>
 <section>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vero quas, veritatis similique numquam eos id quos ipsa laborum officia doloribus minima excepturi animi esse dolor quis sed amet odio.</p>
 </section>
 <footer>
  <h4>
   <ul>
       <li>
           terminos y condiciones
       </li>
       <li>
        redes sociales
       </li>
   </ul>   
  </h4>  
 </footer>    
</body>
</html>